* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f4f0f3;
    font-family: "Roboto", sans-serif;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  #card {
    width: 35ch;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3em;
    user-select: none;
    transition: 0.2s ease-in-out;
    height: inherit;
    background: linear-gradient(to bottom, white 40%, rgba(236, 0, 79, 1) 0%);
  }
  
  .playerInformation select {
    padding: 10px;
    position: absolute;
    width: 19%;
  }
  
  #playerBackground {
    height: 200px;
    height: 170px;
    position: absolute;
    width: 200px;
    margin-top: 55px;
  
    &.TobyBackground {
      background: url(/assets/images/p4916.png) 0 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    &.YayaBackground {
      background: url(/assets/images/p4148.png) 0 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    &.WayneBackground {
      background: url(/assets/images/p2064.png) 0 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    &.PerBackground {
      background: url(/assets/images/p4246.png) 0 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    &.RiyadBackground {
      background: url(/assets/images/p8983.png) 0 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  #playerBadge {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    margin-top: 150px;
    margin-left: 170px;
  
    &.TobyBadge {
      background: url(/assets/images/badges_sprite.png) no-repeat -500px -1001px;
    }
  
    &.YayaBadge {
      background: url(/assets/images/badges_sprite.png) no-repeat -800px -700px;
    }
  
    &.WayneBadge {
      background: url(/assets/images/badges_sprite.png) no-repeat -601px -800px;
    }
  
    &.PerBadge {
      background: url(/assets/images/badges_sprite.png) no-repeat -101px -95px;
    }
  
    &.RiyadBadge {
      background: url(/assets/images/badges_sprite.png) no-repeat 0 0;
    }
  }
  
  #informationSection {
    display: inline-block;
    margin-top: 180px;
  }
  
  #name {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #position {
    color: white;
    font-size: 1rem;
  }
  
  .playerStats {
    width: 100%;
    margin: 15px 0px;
    border-spacing: 0 3px;
    font-size: small;
  
    tr {
      width: 100%;
      background: white;
      height: 40px;
    }
  
    th {
      text-align: left;
      padding-left: 15px;
    }
  }
  
  #playerBadge {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    margin-top: 150px;
    margin-left: 170px;
  }